#loginPage{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    height: 100vh;
    >.center{
        width:100%;
        max-width: 500px;
        >h2{
            text-align: center;
            font-size: 50px;
            color:#fff;
            font-weight: 900;
        }
        >p{
            color:#aaa;
            font-size: 14px;
        }
        >.logo{
            width:100px;
            margin:0 auto;
        }
        input{
            background-color: #121212;
        }
        button{
            width:100%;
            background-color: #0D6EFD;
            font-weight: 700;
            &:hover{
                background-color: transparent;
            }
        }
        .gotoregister{
            color:#999;
            text-align: center;
            margin-top: 15px;
            width:100%;
            display: block;
            transition: .3s;
            &:hover{
                color:#fff;
            }
        }
       
    }
}
#registerPage{
    width:100%;
    min-height: calc(100vh - 167px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #3C475B;
    >h2{
        text-align: center;
        font-size: 50px;
        color:#fff;
        font-weight: 900;
    }
    >p{
        color:#aaa;
        font-size: 14px;
    }
    >.logo{
        width:100px;
    }
    form,.registerForm{
        width:100%;
        max-width: 500px;
        input{
            background-color: #111;
        }
        button{
            background-color: #F6BA08;
            width:100%;
            font-weight: 700;
           
        }
    }
}
body{
    
    }
#home{
    background-color: #3C475B;
    width:100%;
    height: 100%;
    min-height: calc(100vh - 100px);
    >.nav{
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin:0 auto;
        margin-top: 100px;
        >div{
            display: flex;
            justify-content: flex-start;
        }
        button, a{
            background-color: #fff;
            color:#000;
            width:150px;
            height: 40px;
            margin:0 20px 0 10px;
            transition: .3s;
            font-weight: 800;
            display: block;
            text-align: center;
            line-height: 40px;
            &:hover{
                background-color: #999;
                color:#fff;
            }
            &.focus{
                background-color:#000 ;
                color:#fff;
            }
        }
    }
    >.content{
        padding: 20px 0;
        display: flex;
        justify-content: flex-start;
        max-width: 1200px;
        margin:0 auto;
        >.user-list{
            padding: 20px 10px ;
            background-color: #fff;
            width:400px;
            height: 500px;
            overflow-y: scroll;
            margin:0 20px 0 10px;
            >.searchDiv{
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                >.search{
                    height: 38px;
                    border:1px #ccc solid;
                    width:250px;
                    margin-right: 10px;
                }
                >button{
                    width:80px;
                    min-width: 80px;
                    height: 38px;
                }
                
            }
            >.item{
                cursor: pointer;
                margin:2px 0;
                >p{
                    font-weight: 800;
                    &.own{
                        font-weight: 900;
                        font-size: 18px;
                    }
                    >i{
                        margin-right: 5px;
                    }
                    &:hover{
                        color:#717171;
                    }
                }
                >.down-line{
                    margin-left: 35px;
                    height: 0;
                    overflow: hidden;
                    transition: .3s;
                }
                
            }
        }
        >.user-info{
            width:700px;
            height: 500px;
            background-color: #fff;
            margin:0 30px;
            padding: 30px;
            >div{
                margin-bottom: 15px;
                font-size: 16px;
                font-weight: 600;
                display: flex;
                align-items: center;
                >input{
                    width:80%;
                    margin-left: 10px;
                    height: 35px;
                    border:1px #ccc solid;
                    outline: none;
                    color:#888;
                    font-size: 14px;
                    cursor: not-allowed;
                    &.open{
                        color:#111;
                        cursor: auto;
                    }
                }
                &.operate{
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    padding-right: 50px;
                    .btn{
                        display: flex;
                        >button{
                            background-color: #313131;
                            color:#fff;
                            width:130px;
                            height: 40px;
                            transition: .3s;
                            margin-left: 10px;
                            &#unlock{
                                background-color: #878787;
                                &:hover{
                                    background-color: #121212;
                                }
                            }
                            &#lock{
                                display: none;
                            }
                            &#cancel{
                                display: none;
                                background-color: #878787;
                                &:hover{
                                    background-color: #121212;
                                }
                            }
                           
                        }
                    }
                }
            }
        }
    }
}
header#header{
    width:100%;
    background-color: #212121;
    color:#fff;
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    >a{
        font-size: 18px;
        font-weight: 900;
    }
}
footer{
    width:100%;
    height: 100px;
    background-color: #050C26;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    p{
        font-size: 14px;
    }
}

.slidebar{
    width:200px;
    min-height: calc(100vh - 167px);
    background-color: #333;
    >ul{
        width:100%;
        margin-top: 100px;
        >a{
            display: block;
            width:100%;
            height: 60px;
            line-height: 60px;
            text-align: center;
            color:#fff;
            &:hover{
                background-color: #111;
            }
        }
    }
}

.app{
    width:100%;
    min-height: calc(100vh - 167px);
    display: flex;
    >.main-content{
        width: 100%;
        padding: 25px;
    }
}
#home-componet{
    width:100%;
    min-height: calc(100vh - 167px);
    display: flex;
    >.main-content{
        padding: 25px;
        width: 100%;
        >.nav{
            width:100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 50px;
            >.form-group{
                margin-left: 30px;
                width: 250px;
                >select{
                    width: 80px;
                }
                >input.searchInput{
                    width:100%;
                    border:1px #aaa solid;
                    border-radius: 8px;
                }
            }
        }
        table{
            margin-top: 50px;
            td, th{
            }
            button, a{
                background-color: #198754;
                font-size: 14px;
            }
         
            .account-btn{
                color:#0D6EFD;
                cursor: pointer;
                &:hover{
                    border-bottom: 1px #0D6EFD solid;
                }
            }

            .closeStatusBtn{
                background-color: #5CB85C;
                color:#fff;
            }
            .openStatusBtn{
                background-color: #F0AD4E;
                color:#fff;
            }
        }
    }
}

#setMember{
    width:100%;
    min-height: calc(100vh - 167px);
    display: flex;
    >.main-content{
        width: 100%;
        padding: 25px;
        >table{
            width:100%;
            max-width: 600px;
            margin-top: 50px;
            tr{
                width:100%;
                th{
                    width:35%;
                    color:#111;
                    font-weight: 500;
                    font-size: 15px;
                }
                td{
                    width: 65%;
                }
            }
            input[type="text"]{
                width:178px;
                height: 26px;
                font-size: 14px;
                padding: 0 4px;
                border:1px #aaa solid;
                border-radius: 4px;
            }
            select{
                width: 100px;
                height: 26px;
                font-size: 14px;
                padding: 0 5px;
            }
            label{
                font-size: 14px;
            }
            textarea{
                font-size: 14px;
            }
        }
    }
}
#setProxy{
    width:100%;
    min-height: calc(100vh - 167px);
    display: flex;
    >.main-content{
        width: 100%;
        padding: 25px;
        >table{
            width:100%;
            margin-top: 50px;
            max-width:1200px;
            tr{
                width:100%;
                th{
                    width:25%;
                    color:#111;
                    font-weight: 500;
                    font-size: 15px;
                }
                td{
                    width: 75%;
                }
            }
            input[type="text"]{
                width:178px;
                height: 26px;
                font-size: 14px;
                padding: 0 4px;
                border:1px #aaa solid;
                border-radius: 4px;
                &.url{
                    width:500px;
                }
            }
            select{
                width: 100px;
                height: 26px;
                font-size: 14px;
                padding: 0 5px;
            }
            label{
                font-size: 14px;
            }
            textarea{
                font-size: 14px;
            }
        }
    }
}

#changeMemberPassword, #createMember{
    table{
        width: 100%;
        margin-top: 50px;
        th{
            width:15%;
            color:#111;
            font-weight: 500;
            font-size: 14px;
        }
        td{
            width:85%;
            font-size: 14px;
            input[type="text"], input[type="password"]{
                width:200px;
                height: 26px;
                font-size: 14px;
                padding: 0 4px;
                border:1px #aaa solid;
                border-radius: 4px;
            }
            button.btn, a.btn{
                background-color: #0D6EFD;
            }
        }
    }
}