#loginPage {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212121;
  height: 100vh;
}
#loginPage > .center {
  width: 100%;
  max-width: 500px;
}
#loginPage > .center > h2 {
  text-align: center;
  font-size: 50px;
  color: #fff;
  font-weight: 900;
}
#loginPage > .center > p {
  color: #aaa;
  font-size: 14px;
}
#loginPage > .center > .logo {
  width: 100px;
  margin: 0 auto;
}
#loginPage > .center input {
  background-color: #121212;
}
#loginPage > .center button {
  width: 100%;
  background-color: #0D6EFD;
  font-weight: 700;
}
#loginPage > .center button:hover {
  background-color: transparent;
}
#loginPage > .center .gotoregister {
  color: #999;
  text-align: center;
  margin-top: 15px;
  width: 100%;
  display: block;
  transition: 0.3s;
}
#loginPage > .center .gotoregister:hover {
  color: #fff;
}

#registerPage {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #212121;
}
#registerPage > h2 {
  text-align: center;
  font-size: 50px;
  color: #fff;
  font-weight: 900;
}
#registerPage > p {
  color: #aaa;
  font-size: 14px;
}
#registerPage > .logo {
  width: 100px;
}
#registerPage form {
  width: 100%;
  max-width: 500px;
}
#registerPage form input {
  background-color: #121212;
}
#registerPage form button {
  background-color: #F6BA08;
  width: 100%;
  font-weight: 700;
}

#home {
  background-color: #3C475B;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 100px);
}
#home > .content {
  padding: 100px 0;
  display: flex;
  justify-content: center;
}
#home > .content > .user-list {
  padding: 20px 10px;
  background-color: #fff;
  width: 400px;
  height: 500px;
  overflow-y: scroll;
  margin: 0 30px;
}
#home > .content > .user-list > .item {
  cursor: pointer;
  margin: 2px 0;
}
#home > .content > .user-list > .item > p {
  font-weight: 800;
}
#home > .content > .user-list > .item > p.own {
  font-weight: 900;
  font-size: 18px;
}
#home > .content > .user-list > .item > p > i {
  margin-right: 5px;
}
#home > .content > .user-list > .item > p:hover {
  color: #717171;
}
#home > .content > .user-list > .item > .down-line {
  margin-left: 35px;
  height: 0;
  overflow: hidden;
  transition: 0.3s;
}
#home > .content > .user-info {
  width: 700px;
  height: 500px;
  background-color: #fff;
  margin: 0 30px;
  padding: 30px;
}
#home > .content > .user-info > div {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
#home > .content > .user-info > div > input {
  width: 80%;
  margin-left: 10px;
  height: 35px;
  border: 1px #ccc solid;
  outline: none;
  color: #888;
  font-size: 14px;
  cursor: not-allowed;
}
#home > .content > .user-info > div > input.open {
  color: #111;
  cursor: auto;
}
#home > .content > .user-info > div.operate {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-right: 50px;
}
#home > .content > .user-info > div.operate .btn {
  display: flex;
}
#home > .content > .user-info > div.operate .btn > button {
  background-color: #313131;
  color: #fff;
  width: 130px;
  height: 40px;
  transition: 0.3s;
  margin-left: 10px;
}
#home > .content > .user-info > div.operate .btn > button#unlock {
  background-color: #878787;
}
#home > .content > .user-info > div.operate .btn > button#unlock:hover {
  background-color: #121212;
}
#home > .content > .user-info > div.operate .btn > button#lock {
  display: none;
}
#home > .content > .user-info > div.operate .btn > button#cancel {
  display: none;
  background-color: #878787;
}
#home > .content > .user-info > div.operate .btn > button#cancel:hover {
  background-color: #121212;
}

header#header {
  width: 100%;
  background-color: #212121;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px 80px;
}
header#header > a {
  font-size: 18px;
  font-weight: 900;
}

footer {
  width: 100%;
  height: 100px;
  background-color: #050C26;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
footer p {
  font-size: 14px;
}
